ul {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: space-between;
}

li {
  border-bottom: 5px solid black;
  transition: 0.3s;
  text-align: center;
}
.add {
  border-bottom: 5px solid black;
}
.add:hover {
  border-bottom: 5px solid rgb(210, 3, 3);
}
li:hover {
  border-bottom: 5px solid rgb(210, 3, 3);
  top: 0;
}
.siii{
  height: 100vh;
  background-color: red;
  width: 100%;
}
button {
  display: none;
  background-color: rgb(164, 163, 163);
  padding: 10px;
}
.left h1 {
  font-size: 40px;
}
.naw {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.fix {
  width: 100%;
  position: fixed;
  transition: all 0.3s;
}
.mat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  transition: 0.3s;
}
.pas {
  width: 100%;
  background-color: rgba(14, 13, 13, 0.8);
  transition: 0.3s;
  height: 100%;
  transition: 0.3s;
}
.pas:hover {
  box-shadow: 0px 0px 50px rgb(210, 3, 3);
  transition: 0.3s;
}
li a {
  color: #fff;
  font-size: 20px;
}
.bola {
  display: none;
  margin: 0;
}

Link {
  text-align: center;
}
.left h1 span {
  color: rgb(210, 3, 3);
}
@media only screen and (max-width: 700px) {
  ul {
    display: none;
    gap: 10px;
  }
  li {
    border-bottom: 5px solid black;
  }
  .mat {
    flex-direction: column;
    transition: 0.3s;
  }
  button {
    display: block;
    transition: 0.3s;
  }
  .bola {
    margin: 20px 0px;
    display: block;
    transition: 0.3s;
  }
  .navAc {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: black;
    flex-direction: column;
    height: 65vh;
    border: 5px solid rgb(210, 3, 3);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.3s;
  }
  .navAc .big-in {
    width: 80%;
    transition: 0.3s;
  }

  .add {
    border-bottom: none;
  }
  .add:hover {
    border-bottom: none;
  }
  /* .navAc {
    display: none !important;
  } */
}
